<!--
  Generated template for the RoomBookingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Book Meeting Room</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
<ion-list>
<form (ngSubmit)="submitForm()" [formGroup]="bookingForm">
  <ion-item>
    <ion-label floating>Full Name</ion-label>
    <ion-input type="text" formControlName="fullName" required clearInput="true"></ion-input>
  </ion-item>
 <ion-item>
    <ion-label>Room
    </ion-label>
    <ion-select formControlName="room">
      <ion-option>Room 7B</ion-option>
      <ion-option>Room 7C</ion-option>
      <ion-option>Room 7D</ion-option>
      <ion-option>Town Hall</ion-option>
    </ion-select>
    <button>
        <ion-icon name="help-circle"></ion-icon>
      </button>
  </ion-item>
  <ion-item>
    <ion-label>Book Date</ion-label>
    <ion-datetime displayFormat="DD MMM YYYY" pickerFormat="DD/MMM/YYYY" formControlName="bookDate"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Start Time</ion-label>
    <ion-input type="text" #bookStartTime formControlName="bookStartTime" required readonly="true"></ion-input>
    <!--<ion-datetime displayFormat="hh:mm A" #bookStartTime pickerFormat="hh mm A" formControlName="bookStartTime"></ion-datetime>-->
  </ion-item>
  <ion-item>
    <ion-label>End Time</ion-label>
    <!--<ion-datetime displayFormat="hh:mm A" pickerFormat="hh mm A" formControlName="bookEndTime"></ion-datetime>-->
    <ion-input type="text" #bookEndTime formControlName="bookEndTime" required readonly="true"></ion-input>
  </ion-item>
  <button ion-button color="secondary2" type="button" *ngIf="enableCheckin" block (click)="checkIn()">Check in</button>
  <button ion-button color="secondary" type="submit" [disabled]="!bookingForm.valid" block>Submit</button>
  <button ion-button color="danger" type="button" *ngIf="enableDelete" block (click)="delete()">Cancel</button>
</form>
</ion-list>

</ion-content>
